@media (max-width: 399px) {
    header {
        .main-header {
            border-bottom: 2px solid $dark-primary;
        }

        h1 {
            padding-left: 60px;
            width: 280px;

            .lsl-title {
                font-size: 25px;
            }
        }
    }
    
    .content {
        padding-top: 70px;
    }
    
    .home-content {
        .back-img {
            top: 60px;
        }
        
        .solid-section, .float-section {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .availability {
        font-size: 13px;
    }
}

@media (max-width: 650px) {
    .blog-section {
        img {
            display: block;
        }
    }
    
    .home-content {
        .right-section {
            border: 0 none;
            display: block;
            width: initial;
        }
        
        .blog-section {
            h3 {
                padding-left: 10px;
            }
            
            .right-section {
                width: initial;
            }
        }
        
        .flex-section {
            display: block;
        }
        
        .home-icon {
            margin: 0 auto;
        }
    }
}