@media (max-width: 399px) {
    header {
        h1 {
            font-size: 20px;
            padding-left: 60px;
        }
    }
    
    .content {
        padding-top: 70px;
    }
    
    .home-content {
        .back-img {
            top: 60px;
        }
    }
}