@media (max-width: 399px) {
    header {
        h1 {
            padding-left: 60px;
            
            .tch-title {
                font-size: 20px;
            }
            
            .tch-logo {
                margin-right: 5px;
            }
        }
    }
    
    .content {
        padding-top: 70px;
    }
    
    .home-content {
        .back-img {
            top: 60px;
        }
        
        .solid-section, .float-section {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}