$dark-primary: #0097a7;
$primary: #00bcd4;
$secondary: #ff4081;
$highlight: #b2ebf2;
$border: #b6b6b6;
$watermark: #cccccc;
$light-grey: #f2f2f2;
$grey: #727272;
$dark-grey: #212121;
$iin-red: #f40002;