$menu-width: calc(100% - 40px);

header {
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
    
    .menu-btn {
        border: 3px solid #fff;
        font-size: 21px;
        font-weight: normal;
        height: 40px;
        left: 10px;
        padding: 0;
        position: absolute;
        overflow: hidden;
        top: 10px;
        width: 40px;
        
        span {
            height: 34px;
            padding-top: calc(50% - 10px);
            width: 34px;
        }
        
        &.open {
            background-color: $secondary;
            
            &:hover {
                background-color: $highlight;
            }
            
            &:active {
                background-color: $secondary;
                border-color: $secondary;
                color: #fff;
            }
        }
        
        &:active {
            border: 3px solid #fff;
        }
    }
    
    h1 {
        @include align-items(center);
        @include flex;
        
        background-color: $primary;
        border-bottom: 2px solid $dark-primary;
        font-weight: bold;
        height: 60px;
        margin: 0;
        padding: 10px;
        z-index: 10;
        
        .tch-text {
            display: inline-block;
        }
        
        .tch-title {
            font-size: 25px;
        }
        
        .tch-tagline {
            font-size: 13px;
        }
        
        .tch-logo {
            display: inline-block;
            font-size: 40px;
            height: 40px;
            margin-right: 10px;
            position: relative;
            vertical-align: top;
            width: 40px;
            
            &:before {
                @include ellipse(20px, 15px);
                
                background-color: $highlight;
                height: 30px;
                top: 5px;
                width: 40px;
            }
            
            &:after {
                color: $secondary;
                position: absolute;
                top: 0;
            }
        }
    }
    
    .close-menu {
        display: none;
        width: 100%;
        z-index: 1;
        
        &.open {
            display: block;
        }
    }
    
    .menu {
        @include box-sizing(border-box);
        @include translate(-100%, 0);
        @include transition(transform 0.5s);
        
        background-color: $grey;
        color: #fff;
        font-weight: bold;
        overflow-x: hidden;
        overflow-y: auto;
        position: absolute;
        top: 60px;
        width: 320px;
        z-index: 5;
        
        &.open {
            @include translate(0, 0);
        }
        
        h2 {
            background-color: $dark-grey;
            font-size: 20px;
            margin: 0;
            padding: 10px;
            width: 100%;
        }
        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            
            li {
                margin: 0;
                padding: 0 10px;
            }
            
            a, button {
                @include border-radius(0);
                
                background-color: transparent;
                border: 0 none;
                border-bottom: 3px solid #fff;
                display: block;
                font-size: 18px;
                padding: 10px;
                position: relative;
                text-align: left;
                width: 100%;
                
                &:hover {
                    background-color: $secondary;
                    color: #fff;
                    
                    &:active:focus {
                        border: 0 none;
                        border-bottom: 3px solid #fff;
                    }
                }
                
                &:active {
                    border: 0 none;
                    border-bottom: 3px solid #fff;
                }
            }
            
            .section {
                @include box-sizing(border-box);
                
                border-bottom: 3px solid #fff;
                overflow: hidden;
                padding-left: 20px;
                
                a:last-child {
                    border-bottom: 0 none;
                }
            }
            
            .menu-icon {
                @include border-radius(15px);
                @include box-sizing(border-box);
                @include transition(transform 0.5s);
                @include rotate(-360deg);
                
                border: 0 none;
                display: inline-block;
                font-size: 30px;
                font-weight: normal;
                height: 30px;
                padding: 0;
                position: absolute;
                right: 10px;
                text-align: center;
                top: calc(50% - 15px);
                width: 30px;
                
                &.fa-info {
                    border: 2px solid #fff;
                    font-size: 20px;
                    padding: 4px;
                }
                
                &.arrow-up {
                    @include rotate(-180deg);
                }
            }
        }
        
        .contact-me {
            margin: 20px 0 0 10px;
        }
        
        .contact {
            padding: 10px;
        }
    }
    
    .navbar {
        @include border-radius(0);
        
        background-color: $dark-grey;
        border: 0 none;
        color: #fff;
        height: 40px;
        margin: 0;
        min-height: 0;
        padding: 0;
        
        .navbar-item {
            display: inline-block;
            vertical-align: top;
        }
        
        a, button {
            @include border-radius(0);
            
            background-color: transparent;
            border: 0 none;
            color: #fff;
            display: block;
            font-size: 16px;
            font-weight: normal;
            height: 40px;
            line-height: 40px;
            padding: 0 10px;
            
            &:hover {
                background-color: $secondary;
            }
            
            &:focus {
                color: #fff;
                
                &:active {
                    &:hover {
                        border: 0 none;
                    }
                }
            }
            
            &:active {
                border: 0 none;
                color: #fff;
            }
        }
        
        .dropdown-menu {
            @include border-radius(0);
            
            background-color: $grey;
            border: 0 none;
            margin: 0;
            padding: 0;
            
            a {
                &:hover {
                    background-color: $secondary;
                    color: #fff;
                }
            }
        }
    }
}