.home-content {
    margin: -12px;
    
    .back-img {
        left: 0;
        position: fixed;
        top: 100px;
    }
    
    h2 {
        margin: 0;
        padding: 0;
    }
    
    h3 {
        background-color: transparent;
        color: $primary;
        font-size: 20px;
        font-weight: bold;
        margin: 0;
        padding: 10px;
    }
    
    .solid-section, .float-section {
        padding: 0 30px;
        
        .home-section-body {
            max-width: 1024px;
            margin: 0 auto;
        }
    }
    
    .solid-section {
        background-color: $light-grey;
        border: 0 solid $border;
        border-width: 2px 0;
        color: $dark-grey;
        margin-bottom: 10px;
        position: relative;
        text-align: center;
        z-index: 2;
        
        h3 {
            text-align: left;
        }
        
        p {
            font-size: 15px;
            margin: 0;
            padding: 10px;
            
            &:not(.center) {
                text-align: left;
            }
        }
        
        .home-section-body {
            padding: 10px;
        }
    }
    
    .float-section {
        text-align: center;
        padding: 30px;
        
        .home-section-body {
            @include border-radius(10px);
            @include border-top-left-radius(30px);
            @include border-bottom-right-radius(30px);
            
            background-color: rgba(256, 256, 256, 0.75);
            border: 2px solid $border;
            padding: 10px;
            position: relative;
            text-align: right;
            z-index: 2;
        }
        
        h3 {
            text-align: left;
        }
        
        p {
            font-size: 15px;
            margin: 0;
            padding: 10px;
            text-align: left;
        }
    }
    
    .learn-more {
        @include align-items(center);
        @include flex;
        
        background-color: transparent;
        color: $primary;
        font-size: 15px;
        font-weight: bold;
        padding: 10px;
        text-align: right;
        
        .icon {
            font-size: 25px;
            margin-left: 10px;
        }
        
        &:hover {
            color: $secondary;
        }
    }
}