<h2>Recent Blog Posts</h2>
<div class="blog-post" ng-repeat="post in posts">
    <h3 class="post-title">{{post.title}}</h3>
    <div class="post-content">{{post.content}}</div>
    <div class="post-author">{{post.author.displayName}} {{post.published}}</div>
    <div class="post-comments">
        <div class="comment" ng-repeat="comment in post.comments">
            <div class="comment-content">{{comment.content}}</div>
            <div class="comment-author">{{comment.author.displayName}} {{comment.published}}</div>
        </div>
    </div>
</div>