<h2>Health History</h2>
<div class="iin-logo">
    <img src="assets/images/IIN_logo.jpg" alt="Institute for Integrative Nutrition Logo" />
</div>
<div ng-controller="collapseCtrl">
    <button class="section-collapse" ng-click="isCollapsed = !isCollapsed">
        <span>Privacy Statement</span>
        <span class="collapse-arrow fa fa-arrow-circle-down" ng-class="{'arrow-up': !isCollapsed}" aria-hidden="true"></span>
    </button>
    <div uib-collapse="isCollapsed" class="more-info-collapse collapsible">
        <p>
            Your privacy is important to me. All of your information will be kept strictly between us. I will only use your personal
            contact information to provide you with the best possible service. If you have any questions, comments, or concerns,
            please contact me.
        </p>
        <contact-me />
    </div>
</div>
<p class="form-required">* Required Fields</p>
<p class="form-error" ng-if="errors"><span class="fa fa-warning" aria-hidden="true"></span> Please correct the errors below:</p>
<form class="health-history">
    <h3>Personal Information</h3>
    <div class="form-group first-name">
        <p class="form-error" ng-if="errors.firstName"><span class="fa fa-warning" aria-hidden="true"></span> {{errors.firstName}}</p>
        <label for="first-name">* First Name</label>
        <input required type="text" id="first-name" ng-class="{invalid: errors.firstName}" class="form-control" ng-model="health.firstName" maxlength="15" />
    </div>
    <div class="form-group last-name">
        <p class="form-error" ng-if="errors.lastName"><span class="fa fa-warning" aria-hidden="true"></span> {{errors.lastName}}</p>
        <label for="last-name">* Last Name</label>
        <input required type="text" id="last-name" ng-class="{invalid: errors.lastName}" class="form-control" ng-model="health.lastName" maxlength="15" />
    </div>
    <div class="form-inline">
        <div class="form-group">
            <p class="form-error" ng-if="errors.email"><span class="fa fa-warning" aria-hidden="true"></span> {{errors.email}}</p>
            <label for="email">* Email</label>
            <input required type="email" id="email" ng-class="{invalid: errors.email}" class="form-control" ng-model="health.email" />
        </div>
        <div class="form-group">
            <label for="email-freq">How often do you check email?</label>
            <input type="text" id="email-freq" class="form-control" ng-model="health.emailFreq" />
        </div>
    </div>
    <p class="label">Phone <span class="format">xxx-xxx-xxxx or (xxx)xxx-xxxx</span></p>
    <div class="form-inline">
        <div class="form-group">
            <p class="form-error" ng-if="errors.homePhone"><span class="fa fa-warning" aria-hidden="true"></span> {{errors.homePhone}}</p>
            <label for="home-phone" aria-label="Home Phone">Home</label>
            <input type="tel" id="home-phone" ng-class="{invalid: errors.homePhone}" class="form-control" ng-model="health.homePhone" />
        </div>
        <div class="form-group">
            <p class="form-error" ng-if="errors.workPhone"><span class="fa fa-warning" aria-hidden="true"></span> {{errors.workPhone}}</p>
            <label for="work-phone" aria-label="Work Phone">Work</label>
            <input type="tel" id="work-phone" ng-class="{invalid: errors.workPhone}" class="form-control" ng-model="health.workPhone" />
        </div>
        <div class="form-group">
            <p class="form-error" ng-if="errors.cellPhone"><span class="fa fa-warning" aria-hidden="true"></span> {{errors.cellPhone}}</p>
            <label for="cell-phone" aria-label="Mobile Phone">Mobile</label>
            <input type="tel" id="cell-phone" ng-class="{invalid: errors.cellPhone}" class="form-control" ng-model="health.cellPhone" />
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label for="birthdate">Birthdate</label>
            <div class="input-group">
                <input type="tel" id="birthdate" uib-datepicker-popup="MM/dd/yyyy" is-open="datepickerOpen" ng-class="{invalid: errors.birthdate}" class="form-control click-input" datepicker-options="dateOptions" ng-model="health.birthdate" close-text="Close" readonly ng-click="datepickerOpen = true" ng-focus="datepickerOpen = true" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="datepickerOpen = true"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <p class="form-error" ng-if="errors.birthplace"><span class="fa fa-warning" aria-hidden="true"></span> {{errors.birthplace}}</p>
            <label for="birthplace">Place of Birth</label>
            <input type="text" id="birthplace" ng-class="{invalid: errors.birthplace}" class="form-control" ng-model="health.birthplace" />
        </div>
        <div class="grouped-inputs">
            <p class="label">Height</p>
            <div class="form-group">
                <label for="height-feet" class="sr-only">Height - feet</label>
                <div class="input-group">
                    <input type="number" ng-change="restrictTo(2, 'heightFeet')" id="height-feet" class="form-control" ng-model="health.heightFeet" maxlength="2" width="2"/>
                    <span class="input-group-addon" aria-hidden="true">ft.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="height-inches" class="sr-only">Height - inches</label>
                <div class="input-group">
                    <input type="number" ng-change="restrictTo(2, 'heightInches')" id="height-inches" class="form-control" ng-model="health.heightInches" maxlength="2" width="2"/>
                    <span class="input-group-addon" aria-hidden="true">in.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label for="curr-weight" aria-label="Current Weight in pounds">Current Weight</label>
            <div class="input-group">
                <input type="number" ng-change="restrictTo(3, 'currWeight')" id="curr-weight" class="form-control" ng-model="health.currWeight" />
                <span class="input-group-addon" aria-hidden="true">lbs.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="six-month-weight" aria-label="Weight six month ago in pounds">Weight Six Months Ago</label>
            <div class="input-group">
                <input type="number" ng-change="restrictTo(3, 'sixMonthWeight')" id="six-month-weight" class="form-control" ng-model="health.sixMonthWeight" />
                <span class="input-group-addon" aria-hidden="true">lbs.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="year-weight" aria-label="Weight one year ago in pounds">One Year Ago</label>
            <div class="input-group">
                <input type="number" ng-change="restrictTo(3, 'yearWeight')" id="year-weight" class="form-control" ng-model="health.yearWeight" />
                <span class="input-group-addon" aria-hidden="true">lbs.</span>
            </div>
        </div>
    </div>
    <div class="form-inline">
        <fieldset>
            <legend>Would you like your weight to be different?</legend>
            <div class="input-group">
                <span class="input-group-addon" ng-click="health.weightDiff = 'yes'">
                    <input type="radio" id="weight-diff-yes" ng-model="health.weightDiff" value="yes" />
                </span>
                <label for="weight-diff-yes" class="form-control">Yes</label>
            </div>
            <div class="input-group">
                <span class="input-group-addon" ng-click="health.weightDiff = 'no'">
                    <input type="radio" id="weight-diff-no" ng-model="health.weightDiff" value="no" />
                </span>
                <label for="weight-diff-no" class="form-control">No</label>
            </div>
        </fieldset>
        <fieldset ng-if="health.weightDiff === 'yes'">
            <legend>If so, what?</legend>
            <p class="form-error" ng-if="errors.weightDiffWhat"><span class="fa fa-warning" aria-hidden="true"></span> {{errors.weightDiffWhat}}</p>
            <div class="input-group">
                <span class="input-group-addon" ng-click="health.weightDiffWhat = 'higher'">
                    <input type="radio" id="weightDiffWhat" ng-model="health.weightDiffWhat" value="higher" />
                </span>
                <label for="weight-diff-heigher" class="form-control">Higher</label>
            </div>
            <div class="input-group">
                <span class="input-group-addon" ng-click="health.weightDiffWhat = 'lower'">
                    <input type="radio" id="weightDiffWhat" ng-model="health.weightDiffWhat" value="lower" />
                </span>
                <label for="weight-diff-heigher" class="form-control">Lower</label>
            </div>
        </fieldset>
    </div>
    <h3>Social Information</h3>
    <fieldset>
        <legend>Relationship Status</legend>
        <div class="input-group">
            <span class="input-group-addon" ng-click="health.relStatus = 'single'">
                <input type="radio" id="rel-status-single" ng-model="health.relStatus" value="single" />
            </span>
            <label for="rel-status-single" class="form-control">Single</label>
        </div>
        <div class="input-group">
            <span class="input-group-addon" ng-click="health.relStatus = 'married'">
                <input type="radio" id="rel-status-married" ng-model="health.relStatus" value="married" />
            </span>
            <label for="rel-status-married" class="form-control">Married</label>
        </div>
        <div class="input-group">
            <span class="input-group-addon" ng-click="health.relStatus = 'divorced'">
                <input type="radio" id="rel-status-divorced" ng-model="health.relStatus" value="divorced" />
            </span>
            <label for="rel-status-divorced" class="form-control">Divorced</label>
        </div>
        <div class="input-group">
            <span class="input-group-addon" ng-click="health.relStatus = 'widowed'">
                <input type="radio" id="rel-status-widowed" ng-model="health.relStatus" value="widowed" />
            </span>
            <label for="rel-status-widowed" class="form-control">Widowed</label>
        </div>
    </fieldset>
    <div class="form-group">
        <label for="num-kids" aria-label="Number of Children">No. of Children:</label>
        <div class="input-group">
            <input type="number" ng-change="restrictTo(2, 'numKids')" id="num-kids" class="form-control" ng-model="health.numKids" />
        </div>
    </div>
    <div class="form-group">
        <label for="num-pets" aria-label="Number of Pets">No. of Pets:</label>
        <div class="input-group">
            <input type="number" ng-change="restrictTo(2, 'numPets')" id="num-pets" class="form-control" ng-model="health.numPets" />
        </div>
    </div>
    <div class="form-group">
        <p class="form-error" ng-if="errors.occupation"><span class="fa fa-warning" aria-hidden="true"></span> {{errors.occupation}}</p>
        <label for="occupation">Occupation</label>
        <input type="text" id="occupation" ng-class="{invalid: errors.occupation}" class="form-control" ng-model="health.occupation" maxlength="20" />
    </div>
    <div class="form-group">
        <label for="work-hours">Hours of Work per Week</label>
        <input type="number" ng-change="restrictTo(2, 'workHours')" id="work-hours" class="form-control" ng-model="health.workHours" />
    </div>
    <h3>Health Information</h3>
    <div class="form-group">
        <label for="health-concerns">Please list your main health concerns:</label>
        <textarea id="health-concerns" class="form-control" ng-class="{invalid: errors.healthConcerns}" ng-model="health.healthConcerns"></textarea>
    </div>
    <div class="form-group">
        <label for="other-concerns">Other concerns and/or goals:</label>
        <textarea id="other-concerns" class="form-control" ng-class="{invalid: errors.otherConcerns}" ng-model="health.otherConcerns"></textarea>
    </div>
    <div class="form-group">
        <label for="feel-best">At what point in your life did you feel best?</label>
        <input type="text" id="feel-best" ng-class="{invalid: errors.feelBest}" class="form-control" ng-model="health.feelBest" maxlength="30" />
    </div>
    <div class="form-group">
        <label for="illnesses">Any serious illnesses/hospitalizations/injuries?</label>
        <textarea id="illnesses" class="form-control" ng-class="{invalid: errors.illnesses}" ng-model="health.illnesses"></textarea>
    </div>
    <div class="form-group">
        <label for="health-mother">How is/was the health of your mother?</label>
        <input type="text" id="health-mother" ng-class="{invalid: errors.healthMother}" class="form-control" ng-model="health.healthMother" maxlength="30" />
    </div>
    <div class="form-group">
        <label for="health-father">How is/was the health of your father?</label>
        <input type="text" id="health-father" ng-class="{invalid: errors.healthFather}" class="form-control" ng-model="health.healthFather" maxlength="30" />
    </div>
    <div class="form-group">
        <p class="form-error" ng-if="errors.ancestry"><span class="fa fa-warning" aria-hidden="true"></span> {{errors.ancestry}}</p>
        <label for="ancestry">What is your ancestry?</label>
        <input type="text" id="ancestry" ng-class="{invalid: errors.ancestry}" class="form-control" ng-model="health.ancestry" maxlength="20" />
    </div>
    <fieldset>
        <legend>What blood type are you?</legend>
        <div class="input-group">
            <span class="input-group-addon" ng-click="health.bloodType = 'O+'">
                <input type="radio" id="blood-type-o-plus" ng-model="health.bloodType" value="O+" />
            </span>
            <label for="blood-type-o-plus" class="form-control">O+</label>
        </div>
        <div class="input-group">
            <span class="input-group-addon" ng-click="health.bloodType = 'O-'">
                <input type="radio" id="blood-type-o-neg" ng-model="health.bloodType" value="O-" />
            </span>
            <label for="blood-type-o-neg" class="form-control">O-</label>
        </div>
        <div class="input-group">
            <span class="input-group-addon" ng-click="health.bloodType = 'A+'">
                <input type="radio" id="blood-type-a-plus" ng-model="health.bloodType" value="A+" />
            </span>
            <label for="blood-type-a-plus" class="form-control">A+</label>
        </div>
        <div class="input-group">
            <span class="input-group-addon" ng-click="health.bloodType = 'A-'">
                <input type="radio" id="blood-type-a-neg" ng-model="health.bloodType" value="A-" />
            </span>
            <label for="blood-type-a-neg" class="form-control">A-</label>
        </div>
        <div class="input-group">
            <span class="input-group-addon" ng-click="health.bloodType = 'B+'">
                <input type="radio" id="blood-type-b-plus" ng-model="health.bloodType" value="B+" />
            </span>
            <label for="blood-type-b-plus" class="form-control">B+</label>
        </div>
        <div class="input-group">
            <span class="input-group-addon" ng-click="health.bloodType = 'B-'">
                <input type="radio" id="blood-type-b-neg" ng-model="health.bloodType" value="B-" />
            </span>
            <label for="blood-type-b-neg" class="form-control">B-</label>
        </div>
        <div class="input-group">
            <span class="input-group-addon" ng-click="health.bloodType = 'AB+'">
                <input type="radio" id="blood-type-ab-plus" ng-model="health.bloodType" value="AB+" />
            </span>
            <label for="blood-type-ab-plus" class="form-control">AB+</label>
        </div>
        <div class="input-group">
            <span class="input-group-addon" ng-click="health.bloodType = 'AB-'">
                <input type="radio" id="blood-type-ab-neg" ng-model="health.bloodType" value="AB-" />
            </span>
            <label for="blood-type-ab-neg" class="form-control">AB-</label>
        </div>
    </fieldset>
    <fieldset>
        <legend>How is your sleep?</legend>
        <div class="input-group">
            <span class="input-group-addon" ng-click="health.sleep = 'poor'">
                <input type="radio" id="sleep-poor" ng-model="health.sleep" value="poor" />
            </span>
            <label for="sleep-poor" class="form-control">Poor</label>
        </div>
        <div class="input-group">
            <span class="input-group-addon" ng-click="health.sleep = 'good'">
                <input type="radio" id="sleep-good" ng-model="health.sleep" value="good" />
            </span>
            <label for="sleep-good" class="form-control">Good</label>
        </div>
        <div class="input-group">
            <span class="input-group-addon" ng-click="health.sleep = 'great'">
                <input type="radio" id="sleep-great" ng-model="health.sleep" value="great" />
            </span>
            <label for="sleep-great" class="form-control">Great</label>
        </div>
    </fieldset>
    <div class="form-group">
        <label for="sleep-hours">How many hours do you sleep?</label>
        <div class="input-group">
            <input type="number" ng-change="restrictTo(2, 'sleepHours')" id="sleep-hours" class="form-control" ng-model="health.sleepHours" />
        </div>
    </div>
    <fieldset>
        <legend>Do you wake up at night?</legend>
        <div class="input-group">
            <span class="input-group-addon" ng-click="health.sleepWake = 'yes'">
                <input type="radio" id="sleep-wake-yes" ng-model="health.sleepWake" value="yes" />
            </span>
            <label for="sleep-wake-yes" class="form-control">Yes</label>
        </div>
        <div class="input-group">
            <span class="input-group-addon" ng-click="health.sleepWake = 'no'">
                <input type="radio" id="sleep-wake-no" ng-model="health.sleepWake" value="no" />
            </span>
            <label for="sleep-wake-no" class="form-control">No</label>
        </div>
    </fieldset>
    <div class="form-group" ng-if="health.sleepWake === 'yes'">
        <label for="whyWake" aria-label="Why do you wake up at night?">Why?</label>
        <input type="text" id="whyWake" ng-class="{invalid: errors.whyWake}" class="form-control" ng-model="health.whyWake" maxlength="30" />
    </div>
    <div class="form-group">
        <label for="pain">Any pain, stiffness, or swelling?</label>
        <input type="text" id="pain" ng-class="{invalid: errors.pain}" class="form-control" ng-model="health.pain" maxlength="30" />
    </div>
    <div class="form-group">
        <label for="gas">Constipation/Diarrhea/Gas?</label>
        <input type="text" id="gas" ng-class="{invalid: errors.gas}" class="form-control" ng-model="health.gas" maxlength="30" />
    </div>
    <div class="form-group">
        <label for="allergies">Allergies or sensitivies? Please explain:</label>
        <input type="text" id="allergies" ng-class="{invalid: errors.allergies}" class="form-control" ng-model="health.allergies" maxlength="30" />
    </div>
    <div class="form-group">
        <label for="meds">Do you take any supplements or medications? Please list:</label>
        <textarea id="meds" class="form-control" ng-class="{invalid: errors.meds}" ng-model="health.meds"></textarea>
    </div>
    <div class="form-group">
        <label for="therapies">Any healers, helpers, or therapies with which you are involved? Please list:</label>
        <textarea id="therapies" class="form-control" ng-class="{invalid: errors.therapies}" ng-model="health.therapies"></textarea>
    </div>
    <div class="form-group">
        <label for="exercise">What role do sports and exercise play in your life?</label>
        <textarea id="exercise" class="form-control" ng-class="{invalid: errors.exercise}" ng-model="health.exercise"></textarea>
    </div>
    <h3>Food Information</h3>
    <h4 class="group-heading" aria-hidden="true">What do you typically eat?</h4>
    <div class="form-inline">
        <div class="form-group">
            <label for="breakfast" aria-label="What do you eat for breakfast?">Breakfast</label>
            <textarea id="breakfast" class="form-control" ng-class="{invalid: errors.breakfast}" ng-model="health.breakfast"></textarea>
        </div>
        <div class="form-group">
            <label for="lunch" aria-label="What do you eat for lunch?">Lunch</label>
            <textarea id="lunch" class="form-control" ng-class="{invalid: errors.lunch}" ng-model="health.lunch"></textarea>
        </div>
        <div class="form-group">
            <label for="dinner" aria-label="What do you eat for dinner?">Dinner</label>
            <textarea id="dinner" class="form-control" ng-class="{invalid: errors.dinner}" ng-model="health.dinner"></textarea>
        </div>
        <div class="form-group">
            <label for="snacks" aria-label="What do you eat for snacks?">Snacks</label>
            <textarea id="snacks" class="form-control" ng-class="{invalid: errors.snacks}" ng-model="health.snacks"></textarea>
        </div>
        <div class="form-group">
            <label for="liquids" aria-label="What liquids do you drink?">Liquids</label>
            <textarea id="liquids" class="form-control" ng-class="{invalid: errors.liquids}" ng-model="health.liquids"></textarea>
        </div>
    </div>
    <fieldset>
        <legend>Will your family and/or friends be supportive of your desire to make food and/or lifestyle changes?</legend>
        <div class="input-group">
            <span class="input-group-addon" ng-click="health.supportive = 'yes'">
                <input type="radio" id="supportive-yes" ng-model="health.supportive" value="yes" />
            </span>
            <label for="supportive-yes" class="form-control">Yes</label>
        </div>
        <div class="input-group">
            <span class="input-group-addon" ng-click="health.supportive = 'no'">
                <input type="radio" id="supportive-no" ng-model="health.supportive" value="no" />
            </span>
            <label for="supportive-no" class="form-control">No</label>
        </div>
    </fieldset>
    <div class="form-inline">
        <fieldset>
            <legend>Do you cook?</legend>
            <div class="input-group">
                <span class="input-group-addon" ng-click="health.cook = 'yes'">
                    <input type="radio" id="cook-yes" ng-model="health.cook" value="yes" />
                </span>
                <label for="cook-yes" class="form-control">Yes</label>
            </div>
            <div class="input-group">
                <span class="input-group-addon" ng-click="health.cook = 'no'">
                    <input type="radio" id="cook-no" ng-model="health.cook" value="no" />
                </span>
                <label for="cook-no" class="form-control">No</label>
            </div>
        </fieldset>
        <div class="form-group">
            <label for="home-cook">What percentage of your food is home-cooked?</label>
            <div class="input-group">
                <input type="number" ng-change="restrictTo(3, 'homeCook')" id="home-cook" class="form-control" ng-model="health.homeCook" />
                <span class="input-group-addon" aria-hidden="true">%</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="rest-food">Where do you get the rest from?</label>
        <input type="text" id="rest-food" ng-class="{invalid: errors.restFood}" class="form-control" ng-model="health.restFood" maxlength="30" />
    </div>
    <div class="form-group">
        <label for="crave">Do you crave sugar, coffee, cigarettes, or have any major addictions?</label>
        <textarea id="crave" class="form-control" ng-class="{invalid: errors.crave}" ng-model="health.crave"></textarea>
    </div>
    <div class="form-group">
        <label for="improve">The most important thing I should do to improve my health is:</label>
        <textarea id="improve" class="form-control" ng-class="{invalid: errors.improve}" ng-model="health.improve"></textarea>
    </div>
    <h3>Additional Comments</h3>
    <div class="form-group">
        <label for="improve">Anything else you'd like to share?</label>
        <textarea id="comments" class="form-control" ng-class="{invalid: errors.comments}" ng-model="health.comments"></textarea>
    </div>
    <div class="g-recaptcha" ng-attr-id="{{captchaId}}"></div>
</form>
<button ng-if="!submitted" type="button" id="submit" ng-click="submit()">Submit</button>
<p>&copy; Integrative Nutrition</p>