@charset "UTF-8";

@font-face {
  font-family: "live-sugarless";
  src:url("../assets/fonts/liveSugarless/live-sugarless.eot");
  src:url("../assets/fonts/liveSugarless/live-sugarless.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/liveSugarless/live-sugarless.woff") format("woff"),
    url("../assets/fonts/liveSugarless/live-sugarless.ttf") format("truetype"),
    url("../assets/fonts/liveSugarless/live-sugarless.svg#live-sugarless") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "live-sugarless" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="lsl-"]:after,
[class*=" lsl-"]:after {
  font-family: "live-sugarless" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lsl-logo:after {
  content: "\23";
  z-index: 1;
}

.lsl-logo:before {
  content: " ";
  display: block;
  position: absolute;
}
