<div class="modal-header">
    <h3 class="modal-title">Contact Me</h3>
    <button class="btn btn-close" ng-click="closeContact()">
        <span class="fa fa-times-circle" aria-hidden="true"></span>
        <span class="sr-only">Close</span>
    </button>
</div>
<div class="modal-body">
    <p>Please fill out the form below to send me an email. I'll get back to you within 2-3 business days. Thanks!</p>
    <p class="form-required">* All fields are required</p>
    <p class="form-error" ng-if="errors"><span class="fa fa-warning" aria-hidden="true"></span> Please correct the errors below:</p>
    <form class=".contact-me-form">
        <div class="form-group">
            <label for="contact-name">Name</label>
            <p class="form-error" ng-if="errors.name"><span class="fa fa-warning" aria-hidden="true"></span> {{errors.name}}</p>
            <input required type="text" id="contact-name" ng-class="{invalid: errors.name}" class="form-control" ng-model="contact.name"/>
        </div>
        <div class="form-group">
            <label for="contact-email">Email Address</label>
            <p class="form-error" ng-if="errors.email"><span class="fa fa-warning" aria-hidden="true"></span> {{errors.email}}</p>
            <input required type="email" id="contact-email" ng-class="{invalid: errors.email}" class="form-control"  ng-model="contact.email"/>
        </div>
        <div class="form-group">
            <label for="contact-subject">Subject</label>
            <p class="form-error" ng-if="errors.subject"><span class="fa fa-warning" aria-hidden="true"></span> {{errors.subject}}</p>
            <input required type="text" id="contact-subject" ng-class="{invalid: errors.subject}" class="form-control"  ng-model="contact.subject"/>
        </div>
        <div class="form-group">
            <label for="contact-message">Message</label>
            <p class="form-error" ng-if="errors.message"><span class="fa fa-warning" aria-hidden="true"></span> {{errors.message}}</p>
            <textarea id="contact-message" class="form-control" ng-class="{invalid: errors.message}" ng-model="contact.message"></textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" ng-click="send()">Send</button>
    <button class="btn-cancel" type="button" ng-click="closeContact()">Cancel</button>
</div>