<div class="modal-header">
    <h3 class="modal-title"><span ng-if="icon" class="fa {{icon}}" aria-hidden="true"></span>{{title}}</h3>
    <button class="btn btn-close" ng-click="closeMessage()">
        <span class="fa fa-times-circle" aria-hidden="true"></span>
        <span class="sr-only">Close</span>
    </button>
</div>
<div class="modal-body">
    <p>{{message}}</p>
    <p class="timeout">This message will automatically close in {{timeout}} {{units}}.</p>
</div>
<div class="modal-footer">
    <button ng-if="action1 && action1.text" type="button" ng-click="doAction1()">{{action1.text}}</button>
    <button ng-if="action2 && action2.text" type="button" ng-click="doAction2()">{{action2.text}}</button>
    <button class="btn-cancel" type="button" ng-click="closeMessage()">Close</button>
</div>